.header {
    background-color:#BF0F0F;
    padding:3% 25px 3% 25px;
    display: flex;
    flex-direction: row;
}

.header img {
    float: left;
    width:200px;
    box-shadow: 8px 8px 20px #400101;
    border-radius: 4px;
}

#title {
    margin-left: 3%;
    margin-top: 3%;
    text-shadow: 3px 3px 4px #73020C;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    color:#000000;
    font-weight: bolder;
    margin: 0px;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    margin:0px;
}

/***********************************************
BODY 
***********************************************/
.bodyJustify {
    width:80%;
    margin-left:3%;
}

.menuTitle {
    border-bottom-color:#0E0066;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.list {
    font-family: 'Crimson Text', serif;
    border-bottom-style: solid;
    border-width: 1px;
}



/***********************************************
FOOTER
***********************************************/
.footer {
    text-align: center;
    color: #fff;
    background-color: #BF0F0F;
    padding:3% 25px 3% 25px;
}

.footer a {
    color:#F6C900;
}

.yellowUpdate {
    color: #F6C900;
}
