.header {
    background-color:#1600A6;
    padding:3% 25px 3% 25px;
    border-radius: 15px;
}

.header img {
    margin-top: -6%;
    width:150px;
    float:right;

    box-shadow: 8px 8px 20px #a5a5a5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#F6C900;
}

.bodyJustify {
    margin-left:3%;
}

.menuTitle {
    border-bottom-color:#0E0066;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.list {
    font-family: 'Crimson Text', serif;
}

.footer {
    text-align: center;
    color: #fff;
    background-color:#1600A6;
    padding:3% 25px 3% 25px;
    border-radius: 15px;
}

.footer a {
    color:#F6C900;
}

.yellowUpdate {
    color: #F6C900;
}
