.header {
    background-color:#1600A6;
    padding:3% 25px 3% 25px;
    border-radius: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#F6C900;
}

.menuTitle {
    border-bottom-color:#0E0066;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.list {
    font-family: 'Crimson Text', serif;
}

.footer {
    text-align: center;
    color: #fff;
    background-color:#1600A6;
    padding:3% 25px 3% 25px;
    border-radius: 15px;
}

.footer a{
    color:#F6C900;
}