@media only screen and (min-width: 751px) {
    nav button {
        display: none;
    }

    ul.hide{
        display:flex;
    }

    .hamburger {
        display: flex !important;
    }
    img:hover{
        box-shadow: 10px 10px 5px 1px rgba(51, 51, 51, 0.2); 
    }

}    