@media only screen and (min-width: 751px) {
    nav button {
        display: none;
    }

    ul.hide{
        display:flex;
    }

    .hamburger {
        display: flex !important;
    }

    main {
        width:100%;
    }
    img:hover{
        box-shadow: 10px 10px 5px 1px rgba(51, 51, 51, 0.2); 
    }
    .pictures {
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .cell1 {
        width:100%;
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start: 1;
        grid-row-end: 1;
    }


    .cell2 {
        width:100%;
        grid-column-start:2;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .cell3 {
        width:100%;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .cell4 {
        width:100%;
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .cell5 {
        width:100%;
        grid-column-start:2;
        grid-column-end:2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .cell6 {
        width:100%;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .cell7 {
        width:100%;
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .cell8 {
        width:100%;
        grid-column-start:2;
        grid-column-end:2;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .cell9 {
        width:100%;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start: 3;
        grid-row-end: 3;
    }


}    