@media only screen and (max-width: 750px) {
    nav {
        display:block;
    }

    .hamburger li {
        display: block;
    }

    nav ul {
        padding:0px;
    }

    section {
        display: flex;
        margin:auto;
        justify-content: center;
    }
    section img {
        width: 100%;
        
    }
}