@media only screen and (min-width: 751px) {
    nav ul li {
        display: inline-flex;
        flex-direction: row;
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;
        font-size: 0.95rem;
        font-family:'Kanit', sans-serif;
        font-weight: 600;
    }

}