@media only screen and (max-width: 750px) {
  
    main {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr; 
        grid-gap:15px;
        margin-left: 15px;
        margin-right:15px;
    }

    #card-one{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    #card-two{
        grid-column-start:2;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    #card-three{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:2;
        grid-row-end:2;
    }
    
}