header {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color:#1600A6;
    color:#F6C900;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom:20px;
 }

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    padding-top:10px;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Crimson Text', serif;
    padding-bottom:25px;
}

.card {
    text-align: center;
    border-radius: 15px;
    background-color: #e8e8e8;
}

.content-spacing {
    padding-left: 25px;
    padding-right: 25px;
}

#whitespace{
    padding-top: 50px;
}
