@media only screen and (max-width: 500px) {
    nav {
        display:block;
    }

    .hamburger li {
        display: block;
    }

    nav ul {
        padding:0px
    }

    ul.hide{
        display:block;
    }
    
    .hero ul {
        width:80%;
    }

    .fiveDay ul {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display:block;
    }

}