@media only screen and (min-width: 751px) {

.burger {
    display:flex;
}

#burger {
    display:none;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:10px;
    width:80%;
    margin: 20px auto 20px auto;
}

.main-content > .event {
    grid-column-start: 1;
    grid-column-end: 1;
}

.main-content > .hero {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main-content > .spotlight {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 4;
}

.main-content > .weather {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end:2;
}

.main-content > .join{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}


.main-content > .newsrelease {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
}

.card {
    margin-top:20%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

figcaption {
    font-size: .8rem;
    text-align:center;
    font-family: 'Didact Gothic', sans-serif;
}

 figure img:hover {
    box-shadow: 0px 0px 10px #B0D91E ;

}
figure img {
    width: 100%;
}

form {
    margin:20px auto 20px auto;
    width:35%;
    background-color:#F1F2C9;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    border-color:#888888;
    padding:1.5rem;
}

/***************************************************************************************
Directory Business Cards
***************************************************************************************/
    .bizcards {
        display:grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .bizcards section {
        border-radius: 10px;
    }

    .bizcards section div img {
        width:25%;
        margin:auto; 
    } 
    
    .bizcards section h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        text-align: center;
        margin-bottom:0px;
    }

    .bizcards section p {
        font-family: 'Didact Gothic', sans-serif;
        margin:0px;
        text-align: center;
    }







}