/****************************************
Google fonts CSS
*****************************************/
h1 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Rokkitt', serif;
}

h3 {
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Trykker', serif;
    font-size: 16px;
}


/************************************
* navigation CSS
************************************/
nav {
    text-align: center;
    background-color:#7EBFD9;
    margin:auto;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

nav .tagline{
    margin-right: 20px;
}
nav ul.hide {
    display: none;
} 

nav ul {
    margin:auto;
    background-color: #2173a6;
}
nav button {
    padding-top: 10px;
    display: block;
    width: 100%;
    background-color: #2173a6;
    border:none;
    font-size: 1.3rem;
    justify-content: center;
    margin-left: 20px;
    color:#f2b66d;
    margin: auto;
}

nav h4 {
    margin-top: -20px;
}

nav ul li {
    display:inline-flex;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family:'Kanit', sans-serif;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color:#f2b66d;
}

.home {
    background-color:#3b92c9;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #7EBFD9;
}

ul, li{
	list-style: none;
	padding:0px;
	margin:0px;
}

li{
	display:inline-block;
}

li a {
	padding:10px;
	display:block;
	text-decoration: none;
	text-transform: uppercase;
	position:relative;
}

li a:after{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:before{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:hover:after{
	content:'';
	position:absolute;
	bottom:0px;
	left:50%;
	background:#F2D377;
	height:3px;
	width:50%;
}

li a:hover:before{
	content:'';
	position:absolute;
	bottom:0px;
	left:0px;
	background:#F2B263;
	height:3px;
	width:50%;
}

/***********************************
Hamburger
***********************************/
#title{
    text-align:center;
}

.section-title{
    color: #000000;
    font-size: 1.5em;
}

/***********************************
Page title
***********************************/
.stormtitle {
    font-family: 'Montserrat', sans-serif;
}

.pagetitle {
    width:100%;
    text-align:center;
    background-color:#F2B263;
    padding:20px;
    margin:0;
}

/***********************************
Form 
***********************************/
form {
    background-color:#e7ffed;
    width:30%;
    margin:auto;
    padding:30px;
}

.formItem{
    padding:10px;
}


form .submitBtn{
    background-color:#b00;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:40px;
    padding-left:40px;
    border-style:none;
    border-radius: 5px;
    color:#ffffff;
}

form .submitBtn:hover {
    border-color: #ffffff;
    border-style: solid;
    box-shadow:2px 2px 5px 1px #dd0000;
}

/***********************************
Thank you message.
***********************************/
.thankyouMsg {
    background-color:#9eff81;
    text-align:center;
    padding: 2%;
}

.thankyouMsg h1 {
    font-weight:300;
}


/***********************************
JS footer
***********************************/
.footer {
    margin:auto;
    text-align: center;
    color: #fff;
    background-color:#2173a6;
    padding:1% 25px 1% 25px;
}

.footer a {
    color:#F6C900;
}

.yellowUpdate {
    color: #F6C900;
}


/***********************************
Wire Frame Page
***********************************/

.wireframe {
    text-align: center;
}

section{
    margin:50px;
}