/****************************************
Google fonts CSS
*****************************************/
h1 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Rokkitt', serif;
}

h3 {
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Trykker', serif;
    font-size: 16px;
}

/************************************
* navigation CSS
************************************/
header a img {
    width:100px;
}

nav {
    text-align: center;
    background-color: #2173a6;
    margin:auto;
    text-decoration: none;
}
nav ul li {
    display: inline-flex;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family:'Kanit', sans-serif;
    font-weight: 600;
}

nav ul li h4 {
    margin-top: -20px;
}

nav ul li a {
    text-decoration: none;
    color:#f2b66d;
}

#title{
    text-align:center;
}

.section-title{
    color: #000000;
    font-size: 1.5em;
}


/***************************************
Hero
***************************************/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.5)), url(/wdd230/Lesson04/images/Perrigan\ photography.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.hero ul {
    list-style: none;
    background-color: #ffffff;
    padding: 2em;
    width:15%;
}

/**************************************
five day forcast
**************************************/
section {
    background-color: #7EBFD9;
    width: 80%;
    margin: auto;
    padding: 1em;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: Kanit, sans-serif;
}

.fiveDay ul {
    display: flex;
    flex-direction: row;
}

.fiveDay li{
    list-style: none;
    margin:auto;
}

.fiveDay li img {
    width: 100px;
}

.weatherTile {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
}

/**************************************
Articles / News 
**************************************/
.articles img {
    width: 280px;
    float: right;
    padding-left:15px;
}

.articles h3 {
    font-size: 1.3em;
}


/***************************************
Contact
***************************************/
.contact {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.contact img {
    width:300px;
}

.contact ul {
    list-style: none;
}

.column2 {
    display:flex;
    flex-direction: column;
}


.social img {
    width:75px;
}

.footer {
    margin:auto;
    text-align: center;
    color: #fff;
    background-color:#2173a6;
    padding:1% 25px 1% 25px;
}

.footer a {
    color:#F6C900;
}

.yellowUpdate {
    color: #F6C900;
}
