/****************************************
Google fonts CSS
*****************************************/
h1 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Rokkitt', serif;
}

h3 {
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Trykker', serif;
    font-size: 16px;
}
/************************************
* Pancakes in the park special announcment.
************************************/
.pancakes {
    background-color: #f2b66d;
    width:100%;
    text-align: center;
    font-weight: 500; 
}

.pancakes p {
    font-size: 18px;
}

.syrup {
    display:none; 
}


/************************************
* navigation CSS
************************************/
nav {
    text-align: center;
    background-color:#7EBFD9;
    margin:auto;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

nav .tagline{
    margin-right: 20px;
}
nav ul.hide {
    display: none;
} 

nav ul {
    margin:auto;
    background-color: #2173a6;
}
nav button {
    padding-top: 10px;
    display: block;
    width: 100%;
    background-color: #2173a6;
    border:none;
    font-size: 1.3rem;
    justify-content: center;
    margin-left: 20px;
    color:#f2b66d;
    margin: auto;
}

nav h4 {
    margin-top: -20px;
}

nav ul li {
    display:inline-flex;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family:'Kanit', sans-serif;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color:#f2b66d;
}

.preston {
    background-color:#3b92c9;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #7EBFD9;
}

ul, li{
	list-style: none;
	padding:0px;
	margin:0px;
}

li{
	display:inline-block;
}

li a {
	padding:10px;
	display:block;
	text-decoration: none;
	text-transform: uppercase;
	position:relative;
}

li a:after{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:before{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:hover:after{
	content:'';
	position:absolute;
	bottom:0px;
	left:50%;
	background:#F2D377;
	height:3px;
	width:50%;
}

li a:hover:before{
	content:'';
	position:absolute;
	bottom:0px;
	left:0px;
	background:#F2B263;
	height:3px;
	width:50%;
}


/***************************************
Hamburger
***************************************/

#title{
    text-align:center;
}

.section-title{
    color: #000000;
    font-size: 1.5em;
}


/***************************************
Hero
***************************************/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.5)), url(/wdd230/Lesson04/images/Perrigan\ photography.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.hero ul {
    list-style: none;
    background-color: #ffffff;
    margin: 1em;
    width: 15%;
    padding: 1em;
}

/**************************************
five day forcast
**************************************/
section {
    background-color: #7EBFD9;
    width: 80%;
    margin: auto;
    padding: 1em;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: Kanit, sans-serif;
}

.fiveDay ul {
    display: flex;
    flex-direction: row;
}

.fiveDay li{
    list-style: none;
    margin:auto;
}

.fiveDay li img {
    width: 100px;
}

.weatherTile {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
}

/**************************************
Articles / News 
**************************************/
.articles img {
    width: 280px;
    float: right;
    padding-left:15px;
}

.articles h3 {
    font-size: 1.3em;
}


/***************************************
Contact
***************************************/
.contact {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.contact a {
    width:auto;
}

.contact img {
    border-radius: 5px;
}

.contact img {
    width:300px;
}

.contact ul {
    list-style: none;
}

.column2 {
    display:flex;
    flex-direction: column;
}


.social img {
    width:75px;
}

/***********************************
JS footer
***********************************/
.footer {
    margin:auto;
    text-align: center;
    color: #fff;
    background-color:#2173a6;
    padding:1% 25px 1% 25px;
}

.footer a {
    color:#F6C900;
}

.yellowUpdate {
    color: #F6C900;
}
