/****************************************
Google fonts CSS
*****************************************/
h1 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Rokkitt', serif;
}

h3 {
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Trykker', serif;
    font-size: 16px;
}
/************************************
* Pancakes in the park special announcment.
************************************/
.pancakes {
    background-color: #f2b66d;
    width:100%;
    text-align: center;
    font-weight: 500;
}

.pancakes p {
    font-size: 18px;
}

.syrup {
    background-color:red !important;
}


/************************************
* navigation CSS
************************************/
nav {
    background-color:#EDF25E;
    display: flex;
    flex-direction: row;
    margin: auto;
}

nav a img{
    width:100px;
}

.logo {
    padding:7%;
}

.tagline{
    margin-left:2%;
    margin-right:2%;
    width:100%;
}
.tagline h1{
    margin:auto;
}

.tagline h4{
    margin:0px;
}

nav ul {
    list-style-type: none;
    margin: auto;
}

nav ul li {
    margin:20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight:600;
    font-size: 20px;
}


nav ul li a {
    text-decoration: none;
    color:#000000;
}






li a:after{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:before{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:hover:after{
	content:'';
	position:absolute;
	bottom:0px;
	left:50%;
	background:#F2D377;
	height:3px;
	width:50%;
}

li a:hover:before{
	content:'';
	position:absolute;
	bottom:0px;
	left:0px;
	background:#F2B263;
	height:3px;
	width:50%;
}
nav div {
    margin:auto;
}

nav div a img {
    width: 25px;
    border-radius: 50%;
    margin-top: 15px;
}

nav .socialmenu {
    text-align: right;
    width:100%;
    padding-right: 15px;
}


/***************************************
Hamburger
***************************************/

#title{
    text-align:center;
}

.section-title{
    color: #000000;
    font-size: 1.5em;
}


/***************************************
Hero
***************************************/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.5)), url(/wdd230/Lesson04/images/Perrigan\ photography.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.hero ul {
    list-style: none;
    background-color: #ffffff;
    margin: 1em;
    width: 15%;
    padding: 1em;
}

.float-right {
    float:right;
}

/**************************************
five day forcast
**************************************/
section {
    background-color: #7EBFD9;
    width: 80%;
    margin: auto;
    padding: 1em;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: Kanit, sans-serif;
}

.fiveDay ul {
    display: flex;
    flex-direction: row;
}

.fiveDay li{
    list-style: none;
    margin:auto;
}

.fiveDay li img {
    width: 100px;
}

.weatherTile {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
}

/**************************************
Articles / News 
**************************************/
.articles img {
    width: 280px;
    float: right;
    padding-left:15px;
}

.articles h3 {
    font-size: 1.3em;
}

.articles p {
    line: height 1.3em;
}


/***************************************
Contact
***************************************/
.contact {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.contact a {
    width:auto;
}

.contact img {
    border-radius: 5px;
}

.contact img {
    width:300px;
}

.contact ul {
    list-style: none;
}

.column2 {
    display:flex;
    flex-direction: column;
}
/***********************************
JS footer
***********************************/
.footercopywright{
    border-top: #000000;
    border-top: solid;
    border-width: 1px;
    background-color: #EDF25E;
    margin-top:0px;
    margin-bottom:0px;
}

.footer {
    margin:auto;
    text-align: center;
    color: #000000;
    background-color:#EDF25E;
    padding:1% 25px 1% 25px;
}

.footer a {
    color:#77A612;
}

.yellowUpdate {
    color: #77A612;
}
