/****************************************
Google fonts CSS
*****************************************/
h1 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Rokkitt', serif;
}

h3 {
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Trykker', serif;
    font-size: 16px;
}



/************************************
* navigation CSS
************************************/
nav {
    background-color:#EDF25E;
    display: flex;
    flex-direction: row;
    margin: auto;
}

nav a img{
    width:100px;
}

.logo {
    padding:7%;
}

.tagline{
    margin-left:2%;
    margin-right:2%;
    width:100%;
}
.tagline h1{
    margin:auto;
}

.tagline h4{
    margin:0px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
}

nav ul li {
    margin:20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight:600;
    font-size: 20px;
}


nav ul li a {
    text-decoration: none;
    color:#000000;
}

nav div {
    margin:auto;
}

nav div a img {
    width: 25px;
    border-radius: 50%;
    margin-top: 15px;
}

nav .socialmenu {
    text-align: right;
    width:100%;
    padding-right: 15px;
}

/***************************************
Header Date
***************************************/
.date {
    background-color: #EDF25E;
    padding-bottom: 10px;
}

.date p {
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right:20px;
    padding:10px;
    text-align: center;
    background-color:#F1F2C9;
}

/***********************************
Main
***********************************/
.box {
    background-color:#F1F2C9;
    border-color: #77A612;
    border-style: solid;
    border-width: 1px;
    padding:10px;
}

.spotlight div{
    border-style: solid;
    border-color: #77A612;
    border-width:1px;
    padding:5px;
}


/***********************************
JS footer
***********************************/
.footercopywright{
    border-top: #000000;
    border-top: solid;
    border-width: 1px;
    background-color: #EDF25E;
    margin-top:0px;
    margin-bottom:0px;
}

.upperfooter{
    display:flex;
    margin:auto;
    width:90%;
}

.address {
    text-align: left;
    margin-left:20px;
    margin-top:auto;
    margin-bottom:auto;
}

.address h3 {
    margin:0px;
}

.address p{
    margin:0px;
}

.email {
    margin:auto;
}

.email p {
    margin:0px
}

.email a {
    text-decoration: none;
    color:#41590C;
}

.footer {
    margin:auto;
    text-align: center;
    color: #000000;
    background-color:#EDF25E;
    padding:1% 25px 1% 25px;
}

.footer a {
    color:#77A612;
}

.yellowUpdate {
    color: #77A612;
}
