@media only screen and (min-width: 751px) {
    nav {
        width: 90%;
    }
    
    nav button {
        display: none;
    }

    ul.hide{
        display:flex;
    }

    .hamburger {
        display: flex !important;
    }

    .featured-towns {
        width: 90%;
        display: flex;
        flex-direction: row;
    }
    
    .featured-towns section {
        display: flex;
        flex-direction: column;
    }
    
    .featured-towns section img {
        width:80%;
        margin: auto;
    }

}    