@media only screen and (max-width: 500px) {
    .mobile{
        display: flex;
        flex-direction: column;
    }
    
    .burger{
        display: block;
    }
    
    .hide{
        display: none;
    }
    
    #burger {
        cursor:pointer;
    }

    .logo {
        margin:auto;
    }

    .main-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap:10px;
        width:100%;
        margin: 20px auto 20px auto;
    }

    .main-content > .hero {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .hero {
        margin: auto;
    }

    .main-content > .event {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .event {
        margin:auto;
    }

    .main-content > .weather {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end:1;
    }

    .weather {
        margin:auto;
    }

    .main-content > .newsrelease {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .newsrelease {
        margin: auto;
    }

    .main-content > .spotlight {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
        flex-direction: column;
    }

    .spotlight {
        margin: auto;
    }

    .main-content > .join{
        display:none;
    }

    .upperfooter {
        flex-direction: column;
    }

    .upperfooter img{
        width:150px;
        margin:auto;
    }

    .address{
        margin-top:20px;
    }

    .address p {
        text-align: center;
    }

    .email {
        margin:20px auto 20px auto; 
    }

    .email a {
        color:#ffffff; 
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        
    figcaption {
        font-size: .8rem;
        text-align:center;
        font-family: 'Didact Gothic', sans-serif;
    }

    figure img {
        width: 100%;
        border-style:solid;
        border-width:2px;
        border-color:#41590C;
        border-radius: 5px;
    }

    figure img:hover {
        box-shadow: none;
    }

    form {
        margin:20px auto 20px auto;
        width:80%;
        background-color:#F1F2C9;
        border-style: solid;
        border-width:2px;
        border-radius: 5px;
        border-color:#888888;
        padding:1.5rem;
    }

    .contactcontainer {
        padding:3rem 3rem 0px 3rem;
        display:block;
    }

    .contact {
        text-align:center;
    }

    .contactmap {
        width:80%;
    }

    .contactmap a img {
        object-fit: cover;
    }

}