@media only screen and (max-width: 500px) {
    nav {
        display:block;
        width: 100%;
    }

    nav button {
        width:100%;
        background-color: #2173a6;
    }

    .hamburger li {
        display: block;
    }

    nav ul {
        padding:0px
    }

    /***************************************
    hero section
    ****************************************/
    .hero-button {
        color: #ffffff;
        font-size: 1em;
        border-style: solid;
        border-width: 1px;
        border-color: #ffffff;
        border-radius:5px;
        width: 20%;
        text-align: center;
        margin:0 auto;
        position: relative;
        top: 50%;
        left: 10%;
        font-family: 'Montserrat', sans-serif;
    }

    .hero {
        width: 100%;
        margin:0;
    }

    a {
        text-decoration:none; 
    }
    /***************************************
    featured towns
    ****************************************/


    .featured-towns {
        display: flex;
        flex-direction: column;
    }

    .featured-towns section {
        padding:0;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .featured-towns section:nth-child(2){
        flex-direction: row-reverse;
    }


    .featured-towns section div {
        width:50%;
    }

    .featured-towns section h3 {
        text-align: center;
        margin: auto;
    }

    .featured-towns section img {
        margin: auto;
        width: 50%;
    }

    /***************************************
    Article section
    ****************************************/

    .article {
        width: 100%;
        display: block;
    }

    .article img {
        margin:0 0 20px 0;
        width: 100%;
    }
    /***************************************
    Contact section 
    ****************************************/
    .contact {
        text-align: center;
        width: 100%;
        display: block;
    }

    .contact .social-icons {
        display:flex;
        flex-direction: column;
        padding:20px;
    }

}