/****************************************
Google fonts CSS
*****************************************/
h1 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Rokkitt', serif;
}

h3 {
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Trykker', serif;
    font-size: 16px;
}

/***************************************
"Fonts for quick reference grab."

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h2, h3 {
    font-family: 'Montserrat Alternates', sans-serif;
}

p {
    font-family: 'Didact Gothic', sans-serif;
}
**************************************/
/************************************
* Meeting Announcment 
************************************/
.pancakes {
    text-align:center;
}

.pancakes p {
    font-family: 'Montserrat Alternates', sans-serif;
    margin:auto;
    padding:.5rem;
}

.syrup {
    display: none;
}

/************************************
* navigation CSS
************************************/
nav {
    background-color:#41590C;
    color:#EDF25E;
    display: flex;
    flex-direction: row;
    margin: auto;
}

nav a img{
    width:100px;
}

.logo {
    padding:7%;
}

.tagline{
    margin-left:2%;
    margin-right:2%;
    width:100%;
}
.tagline h1{
    margin:auto;
}

.tagline h4{
    margin:0px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
}

nav ul li {
    margin:20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight:600;
    font-size: 20px;
}

nav ul li:hover {
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: #ffffff;
}


nav ul li a {
    text-decoration: none;
    color:#EDF25E;
}

nav div {
    margin:auto;
}

nav div a img {
    width: 25px;
    border-radius: 50%;
    margin-top: 15px;
}

nav .socialmenu {
    text-align: right;
    width:100%;
    padding-right: 15px;
}

/***************************************
Header Date
***************************************/
.date {
    background-color: #41590C;
    padding-bottom: 10px;
}

.date p {
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right:20px;
    padding:10px;
    text-align: center;
    background-color:#F1F2C9;
}

/***********************************
Main
***********************************/
.pagetitle {
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #EDF25E;
    margin:0px;
    padding:1rem;
}

.box {
    background-color:#F1F2C9;
    border-color: #77A612;
    border-style: solid;
    border-width: 1px;
    padding:10px;
}

.spotlight div{
    border-style: solid;
    border-color: #77A612;
    border-width:1px;
    padding:5px;
}

/***********************************
Main
***********************************/
.hero {
    color:#EDF25E;
    background-image: url("/wdd230/lesson11/images/lake_wylie_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:0px;
}

.hero h2 {
    font-size: 2.1rem;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.6);
    width:50%;  
}



.calltoaction {
    font-family: 'Didact Gothic', sans-serif;
    padding:10px;
    border-radius: 20px;
    background-color: #77A612;
    color:#EDF25E;
    font-size: 1.1rem;
    position:absolute;
    bottom:30px;
    right:31%;
    border-style: none;
    transition:bottom ease .8s;    
}

.calltoaction:hover {
    background-color:#EDF25E;
    color:#41590C;
    box-shadow: 3px 3px 5px #000000;
    bottom:20px;
}


/********************************
Event Section
********************************/
.event {
    text-align: center;
    margin:0px;
}

.event div {
    background-color:#ffffff;
    padding:1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.event div .location {
    box-shadow: none;
    text-align:left;
    padding:0px;
}

.event h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.event p {
    font-family: 'Didact Gothic', sans-serif;
}

.zeromargin {
    margin:0px;
}

#bridge {
    font-size: 45px;
    margin:0px;
    padding-bottom:20px;
    padding-top:20px;
}

/********************************
Spotlight Section
********************************/
/*** Tinas Tacos ***/
.tinas {
    text-align: center;
}

.tinas div {
    padding-bottom:2rem; 
    background-color:#ffffff;
    margin-bottom:20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

.tinas h3 {
    margin:0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#the_taco{
    padding: 1.3rem; 
    font-size: 45px;
    background-image: url("/wdd230/lesson05/images/mexican_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.phone a {
    text-decoration: none;
    font-size: 1.3rem;
    padding-bottom:5px;
}

.tinas div p {
    font-family: 'Didact Gothic', sans-serif;
}

/*** Vinies Pizza***/ 
.vinies {
    background-color:#ffffff;
    border-style: dashed !important;
    border-width: 2px !important;
    border-color: #ff0000 !important;
    border-radius: 5px !important;
}

.slice {
    font-size: 45px;
    padding:1.3rem;
}

.vinies h3 {
    margin:0px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: underline;
}

.vinies h4 {
    margin:0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.vinies p {
    margin:0px;
    padding:1.1rem;
}

.vinies p a {
    color:#ff0000;
}

/*** Mikes Auto Glass***/
.tabletview {
    text-align: center;
    background-color:#ffffff;
    margin-top:20px;
}

.tabletview p{
    margin:0px;
}

.mikes {
    background-image: linear-gradient(135deg, #CDFFFF, #BFDDFF);
    padding:1.2rem;
    margin-bottom:15px;
    margin-top:1.3rem;
}

#car {
    font-size: 45px;
    margin:0px;
}

/***********************************
Weather 
***********************************/
.weather {
    text-align: center;
}

.weather h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.weather div {
    background-color:#ffffff;
    box-shadow: 5px 5px 10px black;
    padding:1rem;
    border-radius:5px;
}

.weather div div {
    box-shadow:none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:80%;
    margin:auto;
}

.weather div div h2 {
    font-size:2rem;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:0px;
    margin-left:auto;
    color: #000759;
}

.weather p {
    margin:0px;
    text-align:left;
}

.rainy {
    text-align: right!important;
    margin:auto!important;
    border-bottom-style:solid;
    border-width:1px;
    width:80%;
    text-align:right;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.condition {
    margin-top:20px;
    padding-left:10%;
}

#deg {
    margin-left:0px;
    margin-right:0px;
}


/***********************************
Join
***********************************/
.card {
    background-color:#ffffff;
    border-radius:5px; 
    box-shadow: 5px 5px 10px black;
    padding:1rem; 
}

.card h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align:center;
    background-color: #77A612;
    border-radius:15px;
    padding:.5rem;
    width:60%;
    margin:auto;
}

.card p {
    text-align:center;
}

.card h2 a {
    text-decoration:none;
    color:#ffffff;
}

/***********************************
News Story 
***********************************/
.newsrelease div {
    background-color:#ffffff;
    padding:1rem;
    border-radius:5px;
    box-shadow: 5px 5px 10px black;
}

.newsrelease img {
    width:50%;
    float: right;
    border-style: solid;
    border-width:2px;
    border-radius:5px;
    border-color:#ffffff;
}


/***********************************
JS footer
***********************************/
.footercopywright{
    border-top: #EDF25E;
    border-top: solid;
    border-width: 1px;
    background-color: #41590C;
    margin-top:0px;
    margin-bottom:0px;
}

.upperfooter{
    display:flex;
    margin:auto;
    width:90%;
}

.address {
    text-align: left;
    margin-left:20px;
    margin-top:auto;
    margin-bottom:auto;
}

.address h3 {
    margin:0px;
}

.address p{
    margin:0px;
}

.email {
    margin:auto;
}

.email p {
    margin:0px
}

.email a {
    text-decoration: none;
    color:#41590C;
}

.footer {
    margin:auto;
    text-align: center;
    color: #EDF25E;
    background-color:#41590C;
    padding:1% 25px 1% 25px;
}

.footer a {
    color:#ffffff;
}

.yellowUpdate {
    color: #ffffff;
}

#currentDate {
    display:none;
}


/*********************************************************************************
Join Page
*********************************************************************************/
.title {
    text-align: center;
    font-size:1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

label {
    font-family: 'Didact Gothic', sans-serif;
    font-weight:500;
}

form  img {
    width:100%;
    margin-bottom:10pxpx;
}

input:required {
    border-color:red;
    border-width:1px;
    border-radius:3px;
}

.submit {
    margin-top:10px;
    background-color: #24A0ED;
    border-color:#192DF7;
    padding:5px 20px 5px 20px;
    color:#ffffff; 
}

.submit:hover {
    background-color: #155AD6;
    box-shadow:1px 1px 5px #000759;
}

 /*********************************************************************************
Thank you page
*********************************************************************************/
.thankyoumsg {
    text-align: center;
    margin:100px auto 100px auto;
    width:60%;
    background-color:#F1F2C9;
    padding:1.1rem;
    border-style: double;
    border-width:3px;
    border-color:#999999;
}

.thankyoumsg h2 {
    font-size: 1.9rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.thankyoumsg p {
    font-family: 'Didact Gothic', sans-serif;
    font-size:1.2rem;
}

.thankyou_redirect {
    text-decoration: none;
    background-color: #77A612;
    color:#000000;
    padding:5px 20px 5px 20px;
    border-radius:10px;
    border-style:solid;
    border-width:1px;
}

.thankyou_redirect:hover {
    background-color:#EDF25E;
    box-shadow: -2px 2px 7px #888888;
}


/*******************************************************************************************************************************************************
Weather API page 
*******************************************************************************************************************************************************/
#icon-src {
    color:blue;
}

#weathericon {
    width:5rem;
}


/*******************************************************************************************************************************************************
Directory cards 
*******************************************************************************************************************************************************/
#directory {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2rem;
    padding-left:50px;
}

.listType {
    text-align:center;
}

.businessIcon {
    font-size: 24px;
    padding:10px;
    margin:5px; 
    border-width: 1px;
    border-radius: 5px;
}

.selected {
    background-color: #FF850D;
} 

.bizcards {
    padding:20px;
}
.bizcards section {
    margin:auto;
    background-color: #ffffff;
    width:90%;
    box-shadow: 5px 5px 10px #000000;
}

.bizcards section div {
    display:grid; 
}

#aztecgrill {
    color:blue;
}

#carolinaselfies {
    color:blue;
}

#holleywatersports {
    color:blue;
}

#foxelectrical {
    color:blue;
}

#steelcreekanimalhospital {
    color:blue;
}

#irongatefarm {
    color:blue;
}

#lakesidebarberschool {
    color:blue;
}

#nailpalace {
    color:blue;
}

#anytimefitnesslakewylie {
    color:blue;
}

#lakewyliefamilydentistry {
    color:blue;
}

#atriumhealth {
    color:blue;
}

#comfortsystemsofyorkcounty {
    color:blue;
}


/*******************************************************************************************************************************************************
Contact US
*******************************************************************************************************************************************************/
.contactcontainer {
    padding:3rem 3rem 0px 3rem;
    display:flex;
    flex-direction: row;
}

.contact {
    padding:3rem;
    margin:auto;
}

.contact h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 4rem;
    margin-bottom:2rem;
    width:100%; 
    border-top-width:2px;
    border-top-style:solid;
    border-top-color:gold;
    padding-top:3rem; 
}

.contact h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin:0px;
}

.contact p {
    margin:0px;
}

.contactAddress {
    padding-bottom:2rem;
    width:100%; 
    border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color:gold;
} 

.contactmap {
    width:40%;
    margin:auto;
    border-color:gold;
    border-width:2px;
    border-style:solid;
    border-radius:15px;
}

.contactmsg {
    text-align: center;
    margin: 2rem auto 3rem auto;
    background:linear-gradient(135deg, #EDF25E, #F1F2C9); 
    width:80%;
    padding:.5rem; 
    border-radius:50%;
}

.wrapper {
    display:flex;
    width:80%;
    margin:auto;
    justify-content: center;
    align-items: flex-start;
}


.memberships {
    padding:20px; 
    width:40%;
    margin-left:0px;
}

.non-profit {
    background-color:#FFFFD1;
    padding:20px;
    border-radius:20px;
    border-color:#41590C;
    border-width:1px;
    border-style:solid;
    margin:5px 0px 5px 0px;
       
}

.non-profit h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin-bottom:0px;
}

.non-profit ul {
    margin:0px;
    font-family: 'Didact Gothic', sans-serif;
}

.gold {
    background-color:#e6e6bc;
    padding:20px;
    border-radius:20px;
    border-color:#41590C;
    border-width:1px;
    border-style:solid;
    margin:5px 0px 5px 0px;
      
}

.gold h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin-bottom:0px;
}

.gold ul {
    margin:0px;
    font-family: 'Didact Gothic', sans-serif;
}

.silver {
    background-color:#FFFFD1;
    padding:20px;
    border-radius:20px;
    border-color:#41590C;
    border-width:1px;
    border-style:solid;
    margin:5px 0px 5px 0px;
       
}

.silver h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin-bottom:0px;
}

.silver ul {
    margin:0px;
    font-family: 'Didact Gothic', sans-serif;
}

.bronze {
    background-color:#e6e6bc;
    padding:20px;
    border-radius:20px;
    border-color:#41590C;
    border-width:1px;
    border-style:solid;
    margin:5px 0px 5px 0px;
     
}

.bronze h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin-bottom:0px;
}

.bronze ul {
    margin:0px;
    font-family: 'Didact Gothic', sans-serif;
}

.Cost {
    color:#00AA00;
    text-shadow:3px 3px 5px #888888;
    font-size:1.5rem;
    margin:0px;
}

.description {
    font-family: 'Didact Gothic', sans-serif;
}